body {
   background-color: rgb(252, 252, 252);
   color: rgb(10,10,10);
   font-family: GrotesqueLight;
   text-align: center;
}

main {
   position: relative;
   transition: all 0.3s ease-in-out;
}

/* HIDE SCROLLBAR */
body::-webkit-scrollbar {
   width: 0px; /* Remove scrollbar space */
   height: 0px;
   background: transparent; /* Optional: just make scrollbar invisible */
 }

nav {
   position: fixed;
   top: 0;
   display: flex;
   justify-content: space-between;
   height: 50px;
   width: 100vw;
   padding: 0 10px;
   /* background-color: rgba(235,235,235,1); */
   background-color: transparent;
   box-sizing: border-box;
   z-index:1002;
}

.nav-title {
   margin-top: 22px;
   font-family: GrotesqueLight, Arial, Helvetica, sans-serif;
   font-size: 9.5pt;
   color: white;
   /* letter-spacing: 10px; */
   /* transition: all 0.2s ease-in-out; */
}

.black-text {
   color:black;
}

.white-text {
   color: white;
}

nav ul {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 200px;
   height: 60%;
   margin-top: 10px;
   padding: 0 12px;
   font-family: GrotesqueLight, Arial, Helvetica, sans-serif;
   font-size: 9.5pt;
   /* letter-spacing: -0.5px; */
}

main {
   transition: 0.5s ease-in-out;
}

.left-align {
   text-align: left;
}

.right-align {
   text-align: right;
}

nav ul li a {
   padding-top: 3px;
   text-decoration: none;
   color: black;
   transition: 0.3s ease-in-out;
}

nav ul li a:hover {
   transition: 0.2s ease-in-out;
   color: rgba(60,60,60,1);
}

nav ul li a img {
   width: 30px;
   
}

#title {
   position: fixed;
   top:10%;
   left: 220px;
   font-family: GrotesqueBold, Arial, sans-serif;
   font-size: 330px;
   letter-spacing: -10px;
   width: 1000px;
   z-index:-1;
   transition: all 0.3s ease-in-out;
}

#title-outline{
   position: fixed;
   top:10%;
   left: 220px;
   font-family: GrotesqueBold, Arial, sans-serif;
   font-size: 330px;
   letter-spacing: -10px;
   width: 1000px;
   z-index:1;
   color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}



.camera-cursor {
   cursor: url(file:///Users/ryan/WebDev%20Workspace/cmf-website/assets/camera-icon.png) 15 15, pointer;
}

#title-suffix{
   display: inline;
   margin-left:-35px
}

#suffix-suffix{
   display: inline;
   margin: 0 -100px 0 -90px;
}

img {
   transition: all 0.3s ease-in-out;
   display: block;
   width: 75vw;
   margin: 20px auto;
   border-radius: 5px;
   transition: all 0.5s ease-in-out 0.2s;
   cursor: url(file:///Users/ryan/WebDev%20Workspace/cmf-website/assets/camera-icon.png) 15 15, pointer;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.first-img{
   margin-top: 520px;
}

.last-img {
   margin-bottom: 50px;
}

.caption {
   font-family: GrotesqueLight, Arial, Helvetica, sans-serif;
   font-size: 9.5pt;
   width: 250px;
   height: 10px;
   margin: 0 auto 100px auto;
   text-align: center;
   z-index:1000;
   position: relative;
   opacity: 0;
}

.first-caption{
   margin-top: 520px;
}

footer{
   height: 30px;
   width: 100vw;
   margin-top: -30px;
}

.opacity-zero {
   opacity: 0;
}

.opacity-one {
   opacity: 1;
}

footer h3{
   display: block;
   margin: 10px auto 0 auto;
   width: 100%;
   text-align: center;
   font-family: GrotesqueLight, Arial, Helvetica, sans-serif;
   font-size: 9.5pt;
   background-color: transparent;
}

footer h3 a {
   text-decoration: none;
   color: black;
   transition: 0.3s ease-in-out;
}

footer h3 a:hover {
   color: rgba(50,50,50,1);
   transition: 0.3s ease-in-out;
}


/* MEDIA QUERIES */

@media screen and (max-width: 580px) {
   nav{
      width:100%;
      height: 150px;
   }

   nav ul {
      width: 600px;
   }

   #nav-title {
      font-size: 34pt;
   }

   nav ul li{
      font-size: 30pt;
   }

   #title {
      left: 180px;
   }

   #title-outline {
      left: 180px;
   }

   img:first-of-type{
      margin-top: 700px;
   }

}


/* DETAIL VIEW  */

.detail-view {
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 150px;
   left: 0;
   background-color: rgb(252, 252, 252);
   transition: 0.5s ease-in-out;
   z-index: -1;
   opacity: 0;
}

.left-zero {
   height: 100vh;
   width: 100vw;
   top: 50px;
   transition: 0.5s ease-in-out;
   left: 0;
}

.fade-in-up {
   top: 50px;
   opacity: 1;
   z-index: 1001;
}

.hidden {
   
   opacity: 0;
   transition: 0.6s ease-in-out;
}

.shrink {
   width: 0;
   height: 0;
   transition: 0.3s ease-in-out;
}

.overflow-hidden {
   overflow: hidden;
}

.details-title {
width: 1000px;
margin: 50px auto 0 auto;
font-size: 60px;
}

.details-subtitle {
   width: 800px;
   font-size: 30px;
   margin: 30px auto 10px auto;
}

.detail-img-container {
   height: 60vh;
   width: auto;
   display:flex;
   overflow-x: scroll;
   /* margin: 0px 20px 0 20px; */
}

.detail-img-container::-webkit-scrollbar {
   width: 0px; /* Remove scrollbar space */
   height: 0px;
   background: transparent; /* Optional: just make scrollbar invisible */
 }

.detail-img {
   height:95%;
   width: auto;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.img-divider {
   width: 20px;
   height: 100%;
   display: block;
   visibility: hidden;
}

.img-overlay {
   transition: 0.3s ease-in-out 0.1s;
   position: fixed;
   top:42%;
   left: 340px;
   font-family: GrotesqueBold, Arial, sans-serif;
   font-size: 50px;
   /* letter-spacing: -5px; */
   width: 200px;
   z-index:1;
   color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.img-suffix {
   display: inline;
   margin-left:-10px
}

.img-suffix-suffix {
   display: inline;
   margin: 0 0 0 -10px;
}


/* CLOSE BUTTON */

.outer {
   position: relative;
   margin: auto;
   width: 70px;
   cursor: pointer;
 }
 
 .inner {
   width: inherit;
   text-align: center;
 }
 
 .close-button {
   position: absolute;
   top: 120px;
   left: 20px;
   
}

 .close-label { 
   font-family: GrotesqueLight;
   font-size: 20px;
   line-height: 2em;
   text-transform: uppercase;
   color: rgb(10,10,10);
   transition: all .3s ease-in;
   opacity: 0;
   cursor: pointer;

 }
 
 .inner:before, .inner:after {
   position: absolute;
   content: '';
   height: 1px;
   width: inherit;
   background: rgb(10,10,10);
   left: 0;
   transition: all .3s ease-in;
 }
 
 .inner:before {
   top: 50%; 
   transform: rotate(45deg);  
 }
 
 .inner:after {  
   bottom: 50%;
   transform: rotate(-45deg);  
 }
 
 .outer:hover label {
   opacity: 1;
 }
 
 .outer:hover .inner:before,
 .outer:hover .inner:after {
   transform: rotate(0);
   background: red;
 }
 
 .outer:hover .inner:before {
   top: 0;
 }
 
 .outer:hover .inner:after {
   bottom: 0;
   
 }



/* CUSTOM FONTS */
@font-face {
   font-family: "GrotesqueBold";
   src: url("file:///Users/ryan/webDev%20Workspace/cmf-website/fonts/SpaceGrotesk-Bold.otf") format("opentype")
}

@font-face {
   font-family: "GrotesqueLight";
   src: url("file:///Users/ryan/webDev%20Workspace/cmf-website/fonts/SpaceGrotesk-Light.otf") format("opentype")
}

@font-face {
   font-family: "GrotesqueReg";
   src: url("file:///Users/ryan/webDev%20Workspace/cmf-website/fonts/SpaceGrotesk-Regular.otf") format("opentype")
}